body{
    min-width: 300px;
    background: url(../IMG/FondoNegroNeon.jpg) no-repeat center fixed;
    background-size: cover;
}

footer{
    background-color: white;
    margin-top: 50px;
    padding: 2cqmax;
    text-align: center;
}

#logo {
    width: 70px;
}

.form-control {
    margin-bottom: 10px;
}

label{
    clear: both;
    float: left;
    width: 180px;
    font-weight: bold;
    color: darkblue;
}

.error-control{
    border: 1px solid red;
}

label.error{
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}

.tamaño-bar {
    font-size: 20px;
}

#tamaño-texto {
    font-size: 30px;
}

.navbar a {
    font-weight: 600;
}

#registrar {
    margin-left: 5px;
}

.carousel-item {
    min-height: 400px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.ordenar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#twitter {
    background-color: aqua;
    border-radius: 5px;
    width: 30px;
}

#twitter img {
    width: 30px;
}

#facebook {
    background-color: rgb(31, 31, 255);
    border-radius: 5px;
    width: 30px;
}

#facebook img {
    width: 30px;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.services {
    padding: 80px 0;
}

.bg-car1 {
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ), url(../IMG/Destapespng.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.bg-car1:hover {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url(../IMG/Destapespng.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.bg-car2 {
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ), url(../IMG/Reparaciones.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.bg-car2:hover {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url(../IMG/Reparaciones.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.bg-car3 {
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ), url(../IMG/Emergencias.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.bg-car3:hover {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url(../IMG/Emergencias.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.card img {
    width: 150px;
    height: 150px;
}

.banner {
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #eae5df;
}

.banner h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.banner img {
    width: 300px;
}

.ajuste-imagen img{
    width: 600px;
}

@media(max-width: 767px) {

    .carousel-item {
        min-height: 500px;
    }

    .carousel-item img {
        height: 500px;
    }

    .carousel-caption {
        bottom: 30px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        margin-top: 0;
    }

    .carousel-caption p {
        width: 100%;
        font-size: 16px;
    }
    
    .carousel-caption button {
        font-size: 10px;
    }

    .services {
        padding: 30px 0;
    }

    .productos {
        padding: 30px 0 0 0;
    }
    .div-herram h2{
        font-size: 25px;
    }

    .ajuste-imagen img{
        width: 200px;
    }

    .tamaño-bar {
        font-size: 15px;
    }

    #logo {
        width: 40px;
    }

    .cartas p{
        font-size: 14px;
    }
}